a, div, button {
	outline: none;
}

#scoreboard .header {
	font-weight: bold;
}

#scoreboard .name, #scoreboard .score {
	display: inline-block;
}

#scoreboard .name {
	width: 100px;
}

#submit #submit-flag {
	text-align: center;
}

#submit #submit-name {
	width: 100px;
}

#submit #submit-flag {
	width: 240px;
}

#submit #submit-btn {
	font-size: 15px;
	width: 80px;
	height: 28px;
	padding: 1px 12px;
}

#submit #submit-headers div {
	display: inline-block;
	font-weight: bold;
}

#submit #submit-headers .name {
	width: 100px;
}

#problems>div div  {
	display: inline-block;
	margin-right: 5px;
}

#problems .detail button {
	font-size: 12px;
	height: 20px;
	padding: 1px 12px;
}

#problems>div {
	margin-top: 5px;
}

#problems .type, #problems .no, #problems .score {
	width: 40px;
}

#problems .detail {
	width: 58px;
}

#problems .no, #problems .score, #problems .detail {
	text-align: center;
}

#problems .title {
	width: 350px;
}

#problems .header {
	font-weight: bold;
}
